# Python
__pycache__/
*.pyc

.venv/
venv/
*.egg-info/

# Data & Models
data/*.csv
data/*.parquet
models/*.pkl
models/*.joblib
models/
mlruns/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# IDE
.vscode/
.idea/